body {
    margin: 0;
    background: #ffe4b5;
    font-family: sans-serif;
    text-align: center;
}

main {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 10px 50px;
    box-sizing: border-box;
}

/* タイトル */

h1 {
    margin: 10px 0 0;
    color: #ff1493;
    font-size: 28px;
}

h2 {
    margin: 5px 0 25px;
    color: #ff1493;
    font-size: 22px;
}


/* キャラクター選択 */

.character-select {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    background: white;
    padding: 12px 5px;
    border-radius: 10px;

    box-sizing: border-box;
}

.character-select button {
    background: none;
    border: none;
    padding: 3px;
    cursor: pointer;

    flex: 1;
    max-width: 90px;
}

.character-select img {
    width: 100%;
    height: auto;
    max-width: 80px;

    image-rendering: pixelated;
}


/* 選択した画像 */

.download-area {
    margin-top: 20px;
    background: white;
    padding: 20px 10px 25px;
    border-radius: 10px;
    box-sizing: border-box;
}

#preview {
    width: 280px;
    max-width: 90%;
    height: auto;

    image-rendering: pixelated;

    display: block;
    margin: 0 auto 20px;
}


/* ダウンロードボタン */

#download-button {
    border: none;
    background: #ff1493;
    color: white;

    font-size: 20px;
    font-weight: bold;

    padding: 12px 30px;
    border-radius: 30px;

    cursor: pointer;
}


/* 使用ルール */

.rules {
    margin-top: 25px;
    background: white;
    padding: 20px;
    text-align: left;
    border-radius: 10px;
    box-sizing: border-box;
}

.rules h2 {
    text-align: center;
}

.rules h3 {
    margin-top: 20px;
}

.rules li {
    margin: 8px 0;
}


/* スマホ */

@media (max-width: 600px) {

    main {
        padding-left: 8px;
        padding-right: 8px;
    }

    h1 {
        font-size: 25px;
    }

    h2 {
        font-size: 20px;
    }

    .character-select {
        gap: 2px;
        padding: 10px 3px;
    }

    .character-select button {
        max-width: 75px;
    }

    .character-select img {
        max-width: 68px;
    }

    #preview {
        width: 250px;
        max-width: 85%;
    }

    #download-button {
        font-size: 18px;
        padding: 11px 28px;
    }

}
